$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// can add Boostrap overrides, additional Sass/CSS below...
html, body, #main {
  height: 100%;
}

.container {
  height: 100%;
  text-align: center;
  .row {
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    .img-circle {
      width: 80px;
      cursor: pointer;
    }
  }
}
